@import url('https://fonts.googleapis.com/css2?family=Kantumruy+Pro:ital,wght@0,100..700;1,100..700&family=Moul&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Apply all page */
body {
  @apply font-Kantumruy;
}
